<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AgroLink</title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>

<body class="bg-gray-100">

<!-- Navbar -->
<div th:replace="layout/navbar :: navbar"></div>

<div class="flex">

    <!-- Sidebar -->
    <div th:replace="layout/sidebar :: sidebar"></div>

    <!-- Content -->
    <main class="flex-1 p-6">
        <div th:replace="${content}"></div>
    </main>

</div>

</body>
</html>