<div th:fragment="table(headers)">

    <div class="bg-white rounded-xl shadow-md overflow-hidden">

        <table class="w-full text-sm">

            <!-- HEADER -->
            <thead class="bg-gray-50 text-gray-600 text-left">
                <tr>
                    <th th:each="header : ${headers}"
                        class="px-4 py-3 font-medium"
                        th:text="${header}">
                    </th>
                </tr>
            </thead>

            <!-- BODY SLOT -->
            <tbody>
                <th:block th:replace="${content}"></th:block>
            </tbody>

        </table>

    </div>

</div>