<div th:fragment="table(headers, content)">

    <div
            class="bg-white rounded-xl
                   shadow-md overflow-hidden">

        <div class="overflow-x-auto">

            <table
                    class="w-full text-sm
                           min-w-full">

                <!-- HEADER -->
                <thead
                        class="bg-gray-50
                               text-gray-600
                               text-left">

                    <tr>

                        <th
                                th:each="header : ${headers}"

                                class="px-4 py-3
                                       font-medium
                                       whitespace-nowrap"

                                th:text="${header}">

                            Header

                        </th>

                    </tr>

                </thead>

                <!-- BODY -->
                <tbody
                        class="divide-y divide-gray-100">

                    <th:block
                            th:replace="${content}">
                    </th:block>

                </tbody>

            </table>

        </div>

    </div>

</div>