<div th:replace="layout/base :: *"
     th:with="content='pages/add-crop-content :: content'"></div>
     <form class="glass p-6 rounded-xl shadow w-full md:w-1/2 animate__animated animate__fadeIn">

    <input class="w-full border p-3 mb-3 rounded focus:ring-2 focus:ring-green-400"
           placeholder="Crop Name"/>

    <input class="w-full border p-3 mb-3 rounded focus:ring-2 focus:ring-green-400"
           placeholder="Category"/>

    <input class="w-full border p-3 mb-3 rounded focus:ring-2 focus:ring-green-400"
           placeholder="Location"/>

    <button class="bg-green-600 text-white w-full py-3 rounded hover:bg-green-700 transition">
        Save Crop
    </button>

</form>