<h2>Add Crop</h2>

<form th:action="@{/crops/add}" method="post" enctype="multipart/form-data">

    <input type="text" name="name" placeholder="Crop Name" required/>
    <input type="text" name="description" placeholder="Description"/>
    <input type="number" name="price" placeholder="Price"/>
    <input type="number" name="quantity" placeholder="Quantity"/>
    <input type="text" name="category" placeholder="Category"/>

    <input type="file" name="image" accept="image/*" required/>

    <button type="submit">Save</button>
</form>